*, p {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 8px;
  font-size: 15px;
  @media #{$brk-sm} {
    margin-left: 20px;
  }

  @media #{$brk-lg, $brk-md} {
    margin-left: 100px;
  }
}

li {
  margin-right: 18px;
  color: white;
  float: left;
  list-style: none;
}

.nav-bar {
  background-color: #005689;

  @media #{$brk-sm} {
    height: 52px;
  }

  @media #{$brk-lg, $brk-md} {
    height: 163px;
  }
}

.nav-bar img {
  @media #{$brk-sm} {
    width: 150px;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
  }

  @media #{$brk-lg, $brk-md} {
    width: 320px;
    margin-top: 50px;
    margin-right: 100px;
    float: right;
  }
}

.menu {
  width: 100%;
  background-color: #00456E;
  position: absolute;

  @media #{$brk-sm} {
    height: 36px;
    top: 50px;
  }

  @media #{$brk-lg, $brk-md} {
    height: 36px;
    top: 126px;
  }
}
